body {
  background-color:rgb(0, 0, 0);
  font-family: Arial;
}

h1{
  color:grey;
  text-align:center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.anchored{
  text-align:center;
}

.whole_content{
  background-color: white;
  text-align:left;
  border-radius: 25px;
  padding: 20px;
  width: fit-content;
  margin: auto;
}

table{
  display: inline-table;
}

.percentage_text{
  width: 70px
}

tr{
  line-height:30px;
}

.tr_text{
  line-height: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

